body {
  padding: 5px 20px;
}

.hero {
  padding: 40px;
}
.container img {
  width: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* format for links */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.left {
  flex: 2 1 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.right .image-holder {
  display: flex;
  justify-content: end;
}

.image-holder img {
  width: 300px;
  flex-shrink: 1 1 auto;
  object-fit: cover;
}

button {
  padding: 4px 16px;
  width: fit-content;
}

.info-section {
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  padding: 40px;
}

.info-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 120px;
}
.info-section img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 16px;
}

.card span {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: auto;
  max-width: 500px;
}

.quoted {
  align-self: flex-end;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.cta-section > .container {
  background-color: #3882f6;
  justify-content: space-between;
  display: flex;
  max-width: 700px;
  border-radius: 8px;
  padding: 24px 80px;
  gap: 80px;
}

.cta {
  max-width: 400px;
}

.cta-section .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > div {
  text-align: center;
}
